@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;

  position: relative;

  padding: 1.5rem 3.8rem;

  background-color: var(--sk-slanted-background-color, $black);
  color: var(--sk-slanted-color, $yellow);
}

@media (min-width: $max-width) {
  :host {
    background-color: transparent;

    padding-left: 3rem;
    padding-right: 3rem;

    &::before {
      content: "";
      display: block;

      z-index: -1;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) $skew;

      width: calc(100% - 1.6rem);
      height: 100%;

      border-radius: .3rem;
      background-color: var(--sk-slanted-background-color, $black);
    }
  }
}
