@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-flex;
  align-items: center;
}

sk-typography {
  display: inline-flex;
  padding: .1rem .3rem .1rem .3rem;
  border-radius: .25rem;
  background-color: $black;
  font-weight: 400;
}
