$black: #222;
$black--light: #444;
$white: hsl(48, 100%, 90%);
$yellow: hsl(48, 100%, 50%);

$skew: skew(-10deg);

$bp--small: 600px;
$bp--medium: 960px;
$bp--large: 1280px;

$max-width: $bp--large;

$font: 'Open Sans', sans-serif;

$border-radius: 2px;
