@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  border: 1px solid rgba($black, .5);
}

.text {
  padding: 1rem 1rem 4.3rem 1rem;
}

.heading {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
}

.badge {
  display: inline-block;
  margin-left: 0.5rem;
  padding: .1rem .3rem .1rem .3rem;
  border-radius: .25rem;
  background-color: $black;
  color: $yellow;
  font-size: .8em;
  font-weight: 400;
}

sk-tag-list {
  margin-bottom: .5rem;
}

.link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 0;
  padding: 1rem;
  border-radius: 0;
  border-top: 1px solid rgba($black, .5);
  text-decoration: none;
  text-align: right;
  color: $black;

  &:hover {
    background-color: $black;
    color: $yellow;
  }
}
