@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-block;
  vertical-align: middle;
}

a {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  color: $yellow;
  border-radius: .25rem;
  text-decoration: none;

  &:hover {
    .icon {
      background-color: $black;
      color: $yellow;
    }
  }

  &:not(.compact):not(.compact-on-small) {
    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  &.compact,
  &.compact-on-small {
    padding: 0;

    .text {
      display: none;
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;

  width: 2rem;
  height: 2rem;
  padding: 0.25rem;

  border-radius: .25rem;
  background-color: $yellow;
  color: $black;

  svg {
    width: 100%;
    height: 100%;
  }
}

.text {
  margin-left: .5rem;
}

@media (min-width: $bp--small) {
  a {
    &.compact-on-small {
      padding: 1rem;

      .text {
        display: inline-block;
      }
    }
  }
}
