@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-block;
  padding: .4rem .5rem .3rem .5rem;
  border-radius: $border-radius;
  border-width: 1px;
  border-style: solid;

  border-color: var(--sk-tag-border-color, rgba($black, .5));
  color: var(--sk-tag-color, $black);

  &::before {
    content: '#';
    opacity: .5;
    margin-right: .25em;
  }
}
