@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: block;
}

.text {
  position: relative;
  padding: 2rem 3.8rem 3rem 3.8rem;

  &::before {
    content: "";
    display: block;

    z-index: -1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) $skew;

    width: calc(100% - 1.6rem);
    height: 100%;

    border-radius: .3rem;
    background-color: var(--sk-slanted-teaser-text-background-color, $yellow);
  }
}

.heading {
  display: block;
  margin-top: 0;
  margin-bottom: .5rem;
}

sk-badge {
  position: relative;
  top: -.1rem;

  margin-left: 0.5rem;
}

sk-tag-list {
  margin-bottom: .5rem;
}

.link {
  display: block;
  position: relative;
  margin-top: -1rem;
  padding: 1rem 3.8rem;
  color: $yellow;
  text-align: right;
  text-decoration: none;

  transition: transform .2s;

  &::before {
    content: "";
    display: block;

    z-index: -1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) $skew;

    width: calc(100% - 1.6rem);
    height: 100%;

    border-radius: .3rem;
    background-color: var(--sk-slanted-teaser-link-background-color, $black);
  }

  &:hover {
    transform: translateX(.5rem);
  }
}
