@import '../../variables';

:host {
  font-family: $font;
  color: inherit;

  // &.block {
  //   display: block;
  // }

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.size- {
  &12-responsive {
    font-size: 0.55rem;
    @media (min-width: $bp--small) { font-size: 0.75rem; }
  }

  &14-responsive {
    font-size: 0.675rem;
    @media (min-width: $bp--small) { font-size: 0.875rem; }
  }

  // 16-responsive (default)
  // font-size: .8rem;
  font-size: .8rem;
  @media (min-width: $bp--small) { font-size: 1rem; }

  &24-responsive {
    font-size: 1.5rem;
    @media (min-width: $bp--small) {}
  }

  &32-responsive {
    font-size: 2rem;
    @media (min-width: $bp--small) {}
  }

  &112-responsive {
    font-size: 7rem;
    @media (min-width: $bp--small) {}
  }
}

.color- {
  color: inherit;

  &yellow { color: $yellow; }
  &black { color: $black; }
  &light-black { color: $black--light; }
  &white { color: $white; }
}

.line-height- {
  line-height: 1.2;

  &1 { line-height: 1 }
  &15 { line-height: 1.5 }
}
