@import '../../variables';

:host {
  font-family: 'Open Sans';

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.size- {
  &1-responsive {
    font-size: .8rem;
  }
}

@media (min-width: $bp--small) {
  .size- {
    &1-responsive {
      font-size: 1rem;
    }
  }
}
