@import '../../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-block;
  vertical-align: middle;
}

a {
  display: inline-flex;
  align-items: center;

  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: .5;
  }

  &.color- {
    &yellow { color: $yellow; }
    &black { color: $black; }
    &light-black { color: $black--light; }
    &white { color: $white; }
  }

  &.icon-position- {
    &right .text {
      margin-left: 0;
      margin-right: .5rem;
    }
  }
}

.text {
  display: inline-block;

  margin-left: .5rem;

  text-decoration: underline;
}
